.screen{

    border: 1px solid black;
    height : 200px;
    width : 200px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightgrey;
}

p{
    font-size:30px;
}
